[submodule "wsgi/restless"]
	path = wsgi/restless
	url = https://github.com/DarthMikke/restless
[submodule "wsgi/app/rest_additions"]
	path = wsgi/app/rest_additions
	url = https://github.com/DarthMikke/rest-additions.git
[submodule "wsgi/design-system"]
	path = wsgi/design-system
	url = git@github.com:DarthMikke/design-system
