[submodule "restless"]
	path = restless
	url = https://github.com/DarthMikke/restless
[submodule "app/rest_additions"]
	path = app/rest_additions
	url = https://github.com/DarthMikke/rest-additions.git
[submodule "design-system"]
	path = design-system
	url = https://github.com/DarthMikke/design-system.git
