version: '3.9'
services:
  webhost:
    image: ghcr.io/darthmikke/webhost
    volumes:
      - ../public:/srv/portfolio/public
      - ./dev.conf:/srv/apache/dev.conf
    ports:
      - 8081:80
  django:
    image: ghcr.io/darthmikke/wsgi:0.0.1-b5
    volumes:
      - ../wsgi:/app
      - ../public/media:/media
    command: runserver 0.0.0.0:5000
    # hostname: django
  # db:
    # image: postgres
    # hostname: postgres
networks:
  rproxy:
