{%extends "boutique/base.html" %}
{%load boutique%}
{%block content%}
	<div class="panes">
		<main class="pane">
			<h1>{{model.total_amount}}, {{ model.store.name }}</h1>
			<section class='receipt'>
				<h2>
					{{ model.store.name }}
				</h2>
				<time datetime="{{ model.date }}">{{ model.date }}</time>
				<ul class="receipt__items">
					{% for item in model.purchases.all %}
						<li class="receipt__item">
							<span class="receipt__item__count">{{ item.amount }} </span>
							<span class="receipt__item__product">
								<span class="receipt__item__name">{{item.product.name}}</span>
								<span class="receipt__item__brand">{{item.product.brand.name}}</span>
							</span>
							<span class="receipt__item__price">{{item.total_price|minor_currency}}</span>
							{%if item.discount > 0 %}
							<span class="receipt__item__discount">{{item.discount|minor_currency}}</span>
							{%endif%}
						<!-- <span class="account"></span> -->
						</li>
					{% empty %}
						<p>Du kjøpte ikkje noko.</p>
					{% endfor %}
				</ul>
			</section>
		</main>
	</div>
{%endblock%}
