
.receipt-list {
  &__item {
    display: grid;
  }

  .store {
    grid-row: 1/2;
  }

  .date,.count {
    grid-row: 2/3;
  }

  .total {
    grid-row: 1/-1;
  }

  .total,.count {
    text-align: end;
  }
}

.receipt {
  font-family: monospace;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__items {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: grid;
    grid-template-areas: "product_name price"
                         "count discount";
    &__count {
      grid-area: count;
    }
    &__product {
      grid-area: product_name;
    }
    &__price {
      grid-area: price;
    }
    &__discount {
      grid-area: discount;

      &:not(:empty) {
        &::before {
          content: "(-";
          display: inline-block;
        }
        &::after {
          content: ")";
          display: inline-block;
        }
      }
    }
    &__price, &__discount {
      text-align: end;
    }
  }
}
